{% extends "base.html" %}
{% block wrapper %}
    <div class="container white-transp-grad" style="padding:0;margin:0;width:100%;min-width:800px;">
    
    <div style="margin-top:105px;">
    <center>
      <span style="font-size:40px;">{{ article.title }}</span><!--
        <img style="height:65px" src="{{STATIC_URL}}images/olgavarenik.png">
        -->
      <div style="color: #939393;width: 800px;font-size: 20px;line-height: 32px;margin-top: 60px;letter-spacing: 1px;">
      {{ article.description|safe}}
      </div>
    </center>
    </div>
    <div style="margin-top:90px;padding:0 60px 0 60px;cursor:pointer;cursor:hand;" onclick="window.location.href='/'">
    <img src="{{STATIC_URL}}images/about_logo.png">
    </div>
    <div style="float:left;width:55%;padding:80px 0px 40px 60px" >
    <span style="font-size:21px;">{{ article.small_title}}</span>
    
    <div style="font-size:14px;width:95%;padding-top:40px;line-height: 28px;color: #939393;">
      {{ article.text|safe}}
    </div>
    
    </div>
    <div class="span4" style="padding:80px 0px 0px">
    <img style="margin-left:40px;" src="{{STATIC_URL}}images/des_pic.png">
    
    <div>
    
    {% ifequal request.LANGUAGE_CODE 'en' %}

About Designer
<br><br>
I became involved in designing interiors of different styles and directions 14 years ago. 
In this time, I created and implemented over 300 interiors for apartments, restaurants, stores, trade centers, houses, and offices for large companies.
<br>
In 2011, my design studio was reorganized, the designer staff was expanded, and a new office was opened. This is the environment where our creative team continue to work together on new projects. Endless curiosity is the most valuable asset any professional designer can have. In my team, every person is an expert that possesses this quality. Our clients are proud of us.
<br><br>
My Style 
<br><br>
No materials nor expensive furniture can make a home livable if its design is poorly thought-out from the very beginning. This is how designers differ from decorators.
<br>
Personal touch, offbeat, and deep personality are the main features that help me create an Ideal space for living. The quality of its creation is proportionate to the quality of your life!
<br><br>
Implemented projects
<br><br>
1. Fast food restaurant Edok in shopping mall Respublika
<br>
2. Fast food restaurant Bez Galstuka Alekseevskaya str. 26
<br>
3. Interior project and realignment of 5 store building UKR ZAO GAZ 
<br>
4. Restaurant PRIYUT USTALOGO TRAKTORISTA B. Pokrovskaya str.
<br>
5. Office building of travel agency FAIN TUR Varvarskaya str.
<br>
6. Beauty salon MAHAON, Meshcherskiy boul.
<br>
7. The project of VIP lodge Dvoretc Sporta
<br>
8. L’etoile, shopping mall Respublika, Nizhniy Novgorod.
<br>
9. L’etoile, Dzerjinsk.
<br>
10.Barokko Boutique, Belinskaya str.
<br>
11. Barokko Boutique shopping mall Etaji
<br>
12.Office ZAO NOHT, Kuzbasskaya str.
<br>
13. Sales point ООО Skorodelov, Timiryazeva str.
<br>
14.Interior salon NIZZA, shopping mall GANZA, Nizhniy Novgorod
<br>
15. DUFOUR salon, Moscow, Domodedovo airport
<br>
16. DUFOUR salon, Moscow, Entuziasty highway
<br>
17.Private hotel, Triumph-Palas, Moscow
<br>
18. KUKURUZA cafe, Brinskaya str, build. 6, Nizhniy Novgorod
<br>
19. Head office of AGZO company, Nizhniy Novgorod
<br>
20. Development of Klubnyj Dom flat’s interior, Nizhniy Novgorod.
<br>
21. Interiors project, shopping mall Vodnyj mir, Avtozavodskoj district
<br>
We have also developed and built more than 300 private interior objects in Nizhniy Novgorod, Moscow, Sochi.
<br><br>
Creative creed
<br>
Design for me is the quality of life
<br>
I have worked in Russia, Germany and Spain.
    {% else %}
О дизайнере:
<br><br>
Практика создания интерьеров разных стилей, и разных направлений началась для меня 14 лет назад. За это время мной создано и воплощено в жизнь более 300 интерьеров, это - квартиры, рестораны, магазины, торговые центры, частные дома и офисы крупных  компаний.
<br><br>
В 2010 году моя дизайн – студия прошла реорганизацию, расширился штат дизайнеров появился новый офис, вот в этом составе мы дружно, творчески и креативно работаем над нашими новыми задачами. Вечная любознательность — это самый большой ресурс, который только может иметь профессиональный дизайнер. В мое команде работают только такие специалисты своего дела. Нами гордятся те заказчики, с которыми мы работаем. 
<br><br>
Мой Стиль
<br><br>
Никакие материалы или дорогая мебель не сделают жилище удобным для жизни, если его дизайн плохо продуман в самом начале. В этом отличие дизайнеров от декораторов.
<br>
Неординарность, нестандартность, и глубокая индивидуальность – это главные особенности, которые помогают мне создавать Идеальное пространство для жизни. И качество, с которым оно создано, пропорционально качеству вашей жизни!
<br><br>
Реализованные проекты
<br>
1. Ресторан быстрого питания Едок в ТЦ Республика
<br>
2. Ресторан быстрого питания «Без галстука» ул. Алексеевская 26
<br>
3. Проект реконструкции и интерьеров 5-ти этажного здания УКР ЗАО ГАЗ
<br>
4. Ресторан ПРИЮТ УСТАЛОГО ТРАКТОРИСТА, ул Б. Покровская
<br>
5. Офис туристического агентства ФАИН-ТУР ул Варварская
<br>
6. Салон красоты МАХАОН, Мещерский бульвар
<br>
7. Проект VIP-ложи Дворец Спорта
<br>
8. Салон Летуаль ТЦ Республика, г. Нижний Новгород.
<br>
9. Салон Летуаль г. Дзержинск
<br>
10.Бутик Барокко ул. Белинского
<br>
11.Бутик Барокко ТЦ Этажи
<br>
12.Офис ЗАО НОХТ ул Кузбасская
<br>
13.Салон продаж ООО Скороделов, ул. Тимирязева
<br>
14.Интерьерный салон НИЦЦА ТЦ ГАНЗА, г. Нижний Новгород
<br>
15.Салон DUFOUR г. Москва, аэропорт Домодедово
<br>
16.Салон DUFOUR г. Москва, шоссе Энтузиастов
<br>
17.Частная гостиница Триумф-Палас, г. Москва
<br>
18. Кафе KUKURUZA, ул Бринского, д 6, г. Нижний Новгород
<br>
19. Центральный офис компании АГЖО, г. Нижний Новгород
<br>
20. Разработка интерьеров квартир Клубный дом, Г. Нижний Новгород.
<br>
21. Проект интерьеров ТЦ Водный мир, Автозаводский район
<br>
а также разработано и построено более 300 объектов частных интерьеров в Нижнем Новгороде, Москве, Сочи.
<br><br>
Творческое кредо
<br>
Для меня дизайн — это качество жизни!
<br><br>
Работала в странах: Россия, Германия, Испания.
    {% endifequal %}
    
    
    </div>
    
    
    </div>
    </div> <!-- /container -->

<div class="navbar navbar-inverse" style="margin:0;height:20px;background: url({{STATIC_URL}}images/headline.png);">
    {% include "blog/translator_form.html" %}
</div>
{% endblock %}
  {% block bottomdiv %}
  {% endblock %}

