{% extends "base.html" %}
{% block subtitle %}{{ article.title }} | {% endblock %}
{% templatetag openblock %} {% load pytils_dt %}{% templatetag closeblock %}  
{% block topbrandlogo %}
  <a class="brand" id="brandtop" href="/"><img src="{{STATIC_URL}}images/small_logo.png" style="height:33px;"></a>
{% endblock %}
{% block wrapper %}
    <div class="container white-transp-grad" style="padding:0;margin:0;width:100%">
     <div style="margin-top:37px;">
      <center>
      <div style="margin-top:37px">      
      <div>
      <span style="font-size:36px">{{article.title}}</span>
      </div>
      <div style="margin-top:40px">
      <!--
      <img style="width:800px;height:445px" src="{{article.cover.get_art_url}}">
      -->
      <img id="mainpic" onclick="showgal()" style="cursor:pointer;cursor:hand;width:800px;height:445px" src="{{article.cover.get_art_url}}">
      </div>

      <div id="fader">
       <div id="fader-inner" style="position:relative;margin-top:135px;width:100%;margin-left:0px;">
        <div class="fader-inner-img" style="width:800px;left:50%;position:absolute;">
          <img style="cursor:pointer;cursor:hand;width:800px;height:445px" src="{{article.cover.get_art_url}}">
        </div>
        {% for p in article.gallery.sample %}
        {% ifnotequal p.id article.cover.id %}
        <div class="fader-inner-img" style="width:800px;left:50%;position:absolute;">
          <img style="cursor:pointer;cursor:hand;width:800px;height:445px" src="{{p.get_art_url}}">
        </div>
        {% endifnotequal %}
        {% endfor %}
       </div>
      </div>




      <div style="margin-top:30px">
      <span style="font-size:24px;font-weight:500">{{article.publish_date|date:"d"}}</span><br>
      {% ifequal request.LANGUAGE_CODE 'ru' %}
      {{article.publish_date|ru_strftime:"%B"}}
      {% else %}
      {{article.publish_date|date:"F"}}
      {% endifequal %}
      </div>
      <div style="margin-top:40px;width:800px;text-align:left;">
      <div class="pull-left span2" style="margin-left:0">
      <ul class="nav">
      {% for t in terms %}
       <li style="padding:2px;">
      {% ifequal request.LANGUAGE_CODE 'ru' %}
       {{ t.termname }}
       {% else %}
       {{ t.termname_en }}
       {% endifequal %}
       </li>
       <!--
       <li style="padding:2px;color:#f5775d">
       Видео
       </li>
       -->
       {% endfor %}

       <li class="img-circle-li" style="margin-top:20px;">
       <img class="img-circle" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;" style="width: 45px;cursor:pointer;cursor:hand;" src="{{STATIC_URL}}images/fb.png">
       </li>
       <li class="img-circle-li">
       <img class="img-circle" onclick="window.open('https://twitter.com/share?url='+encodeURIComponent(location.href),'twitter-share-dialog','width=626,height=436');return false;" style="width: 45px;cursor:pointer;cursor:hand;" src="{{STATIC_URL}}images/twi.png">
       </li>
       <li class="img-circle-li">
       <img class="img-circle" onclick="window.open('https://plus.google.com/share?url='+encodeURIComponent(location.href),'google-share-dialog','width=626,height=436');return false;" style="width: 45px;cursor:pointer;cursor:hand;" src="{{STATIC_URL}}images/gplus.png">
       </li>
       </ul>


      
      </div>
      <div class="span7">
      {{ article.text|safe }}
      </div>
      </div>
      </div>



      </center>
      
    </div>

    
    </div> <!-- /container -->

<div class="navbar navbar-inverse" style="margin:80px 0 0;height:20px;background: url({{STATIC_URL}}images/headline.png);">
    {% include "blog/translator_form.html" %}
</div>
{% endblock wrapper %}
{% block bottomdiv %}
{% endblock %}

{% block extra_bottom_js %}
    <script>
    var total_gallery_length = $(".fader-inner-img").length;
    var current_gallery_p = 0;
    function showgal(){
    	$('#fader').show();
    }
    function hidegal(){
    	$('#fader').hide();
    }
    $('#fader').on('click',function(){
      $(this).hide();	
    });
    $('#fader img').on('click',function(e){
    	var ml = parseInt($("#fader-inner").css('margin-left').replace("px",""));
        var ww = $(window).width();
        var ep = e.clientX;
        var dx = 0
        if (ep<ww/2+360){
          dx=1000;
          current_gallery_p += 1;
        }
        else{
          dx=-1000;
          current_gallery_p -= 1;
        }
        if (dx == 1000){
          if (current_gallery_p != total_gallery_length){
            $("#fader-inner").animate({
              marginLeft: ml+dx+"px"
            },400);
          }
          else {
	          $("#fader-inner").animate({
	            marginLeft: ml+2*1000+"px"
	          },400, function(){
	          $("#fader-inner").css("margin-left", "-1840px");
	          $("#fader-inner").animate({
	            marginLeft: "0px"
	          },400);
	          });
	          current_gallery_p = 0;
          }
        }
        else {
            $("#fader-inner").animate({
              marginLeft: ml+dx+"px"
            },400);
        }
        $("#mainpic").attr("src", $($(".fader-inner-img")[current_gallery_p]).children().attr('src'));
    	e.stopPropagation();
    });

    $(".img-circle-li").on("mouseover",function(){
      $(this).css('background','url({{STATIC_URL}}images/snbg.png?) 0px 0px no-repeat');
    });
    $(".img-circle-li").on("mouseout",function(){
      $(this).css('background','');
    });
    $('.carousel').carousel({interval:false})
    
    $(".fader-inner-img").each(function(index){
      $(this).css('margin-left', -(400+800*index+200*index)+"px");
    });
</script>
{% endblock extra_bottom_js %}