{% extends "base.html" %}
{% block topbrandlogo %}
  <a class="brand" id="brandtop" href="/"><img src="{{STATIC_URL}}images/small_logo.png" style="height:33px;"></a>
{% endblock %}
{% block wrapper %}
    <div class="container white-transp-grad" style="padding:0;margin:0;width:100%">
     <div style="margin-top:37px;">
      <center>
      <div style="margin-top:37px">      
      <div>
      <span style="font-size:36px">{{article.title}}</span>
      </div>
      <div style="margin-top:40px">
      <img style="width:800px;height:445px" src="{{article.cover.get_art_url}}">
      </div>
      <div style="margin-top:30px">
      <span style="font-size:24px;font-weight:500">03</span><br>
      Сентября
      </div>
      <div style="margin-top:40px;width:800px;text-align:left;">
      <div class="pull-left span2" style="margin-left:0">
      <ul class="nav">
      {% for t in terms %}
       <li style="padding:2px;">
       {{ t.termname }}
       </li>
       <!--
       <li style="padding:2px;color:#f5775d">
       Видео
       </li>
       -->
       {% endfor %}
       </ul>
      
      </div>
      <div class="span7">
      {{ article.text|safe }}
      </div>
      </div>
      </div>



      </center>
      
    </div>

    
    </div> <!-- /container -->

<div class="navbar navbar-inverse" style="margin:80px 0 0;height:20px;background: url({{STATIC_URL}}images/headline.png);">
&nbsp;
</div>
{% endblock wrapper %}