{% extends "base.html" %}
{% templatetag openblock %} {% load pytils_dt %}{% templatetag closeblock %}  
{% block extrahead %}
  <style>
  a:hover{
    color: #000;
    text-decoration:none;
  }
  </style>
  {% endblock %}
{% block topmenuitems %}
 <li><a href="/about/">О ДИЗАЙНЕРЕ</a></li>
 <li><a href="/projects/">ПРОЕКТЫ</a></li>
 <li class="active"><a href="/blog/">БЛОГ</a></li>
 <li><a href="/services/">УСЛУГИ</a></li>
 <li><a href="/contacts/">КОНТАКТЫ</a></li>
{% endblock topmenuitems %}
{% block topbrandlogo %}
  <a class="brand" id="brandtop" href="/"><img src="{{STATIC_URL}}images/small_logo.png" style="height:33px;"></a>
{% endblock %}
{% block wrapper %}
    <div class="container white-transp-grad" style="padding:0;margin:0;width:100%">
 
     <div style="margin-top:78px;">
      <center>
        <!--<span style="font-size:50px;">Мой Блог</span>-->
        <img style="height:39px" src="{{STATIC_URL}}images/myblog.png">
        <div style="width:110px;border-top:1px solid #ccc;margin-top:49px;padding-bottom:12px;">&nbsp;</div>
        <div style="width:800px;font-size:20px;">
          Приносим новые идеи в Ваш дом
        </div>
        <div style="width:800px;border-top:1px solid #ccc;margin-top:40px;padding-bottom:20px;">&nbsp;</div>

      {% for a in articles %}
      <div{% if not forloop.last %} style="padding-bottom: 84px;"{% endif %}>      
      <div style="width:800px;">
      <span style="font-size:34px;cursor:pointer;" onclick="window.location.href='/{{a.slug}}'">
        {{ a.title }}
      </span>
      </div>
      <div style="margin-top:40px">
      <a href="/{{a.slug}}">
        <img style="width:800px;height:400px" src="{{ a.cover.get_800x400_url }}">
      </a>
      </div>
      <div style="margin-top:30px">
      <span style="font-size:24px;color: #939393;font-weight: 400;">{{a.publish_date|date:"d"}}</span><br>
      <!--<span style="color: #939393;">{{a.publish_date|date:"F"}}</span>-->
      {% if a.publish_date %}
      <span style="color: #939393;">{{a.publish_date|ru_strftime:"%B"}}</span>
      {% endif %}
      </div>
      <div style="color: #939393;margin-top:40px;width:600px;text-align:left;margin-bottom: 40px;">
      {{ a.description|safe }}
      </div>
      </div>
      {% endfor %}
      </center>
    </div>

    <div style="width:600px;margin:60px auto 0;"> 
      {% if articles.has_previous %}
      <a style="color:#000" href="/blog/?page={{ articles.previous_page_number }}"><<</a>&nbsp;&nbsp;
      {% endif %}
      {% for p in page_range %}
      {% if not forloop.first %}
      &nbsp;&nbsp; 
      {% endif %}
      {% ifequal p articles.number %}
        <a href="/blog/?page={{p}}"><span style="color:#f5775d">{{p}}</span></a>
      {% else %}
        <a href="/blog/?page={{p}}"><span style="color:#000">{{p}}</span></a>
      {% endifequal %}
      {% endfor %}
      {% if articles.has_next %}
      &nbsp;&nbsp;<a style="color:#000" href="/blog/?page={{ articles.next_page_number }}">>></a>
      {% endif %}
    </div>

    
    
    

    
    </div> <!-- /container -->

<div class="navbar navbar-inverse" style="margin:20px 0 0;height:20px;background: url({{STATIC_URL}}images/headline.png);">
&nbsp;
</div>
{% endblock wrapper %}
