{% extends "base.html" %}
  {% block extrahead %}
  <style>
  a:hover{
    color: #000;
    text-decoration:none;
  }
  input[type="text"], textarea{
   width:400px;
   border:0;
   border-bottom:1px solid #676767;
   -webkit-box-shadow: 0;
   -moz-box-shadow: 0;
   box-shadow: 0;
   border-radius:0; 
  }
  </style>
  {% endblock %}
{% block subtitle %}Контакты | {% endblock %}
{% block topmenuitems %}
 <li><a href="/about/">О ДИЗАЙНЕРЕ</a></li>
 <li><a href="/projects/">ПРОЕКТЫ</a></li>
 <li><a href="/blog/">БЛОГ</a></li>
 <li class="active"><a href="/contacts/">КОНТАКТЫ</a></li>
{% endblock topmenuitems %}
{% block topbrandlogo %}
  <a class="brand" id="brandtop" href="/"><img src="{{STATIC_URL}}images/small_logo.png" style="height:33px;"></a>
{% endblock %}
{% block wrapper %}
    <div class="container white-transp-grad" style="padding:0;margin:0;width:100%">
 
     <div style="margin-top:78px;">
      <center>
        <!--<span style="font-size:50px;">Мой Блог</span>-->
        <img style="height:39px" src="{{STATIC_URL}}images/contacts.png">
        <div style="width:800px;margin-top:50px;padding-bottom:20px;">
        <div class="pull-left">
          <img class="img-circle" width=270 src="{{STATIC_URL}}images/contacts_ganza.png">
          <div style="padding-top:65px;font-size:28px;color:#676767">+7 (987) 5557070</div>
          <div style="padding-top:35px;font-size:24px;color:#676767">olgavarenik@gmail.com</div>
          <div style="padding-top:35px;font-size:24px;line-height:26px;color:#676767">
          г. Нижний Новгород<br>ул. Родионова, 165 корп. 8<br>3 этаж в ИЦ "НИЦЦА"
          </div>
        </div>
        </div>

	<div id="#repliesdiv">
	<form class="form-horizontal">
	  <fieldset>
	    <div class="control-group">
	    <input id="name" class="nbs" type="text" placeholder="Ваше имя">
	    </div>
	    <div class="control-group">
	    <input id="email" type="text" placeholder="Ваш email">
	    </div>
	    <div class="control-group">
	    <textarea id="text" style="height:20px;" type="text" placeholder="Вашe сообщение"></textarea>
	    </div>
	    <div class="control-group">
	    <a onclick="sendreply()" style="float:right;width:400px;color:#f5775d" href="#">Отправить</a>
	    </div>
	    <!--<button type="submit" class="btn">Отправить</button>-->
	  </fieldset>
	</form>
        </div>

      </center>

      
    </div>
    
    </div> <!-- /container -->

<div class="navbar navbar-inverse" style="margin:90px 0 0;height:20px;background: url({{STATIC_URL}}images/headline.png);">
&nbsp;
</div>
{% endblock wrapper %}
{% block extra_bottom_js %}
    <script src="{{STATIC_URL}}js/jquery.autogrowtextarea.js"></script>
    <script>
      $('textarea').autoGrow();
    </script>

<script>
function sendreply(){
var name = $("#name").val();
var text = $("#text").val();
var email = $("#email").val();
var datasend = { name: name, text: text, email: email  };
  $.post('/sendreply/', datasend, function(data) {
    $("#repliesdiv").html('Спасибо за Ваш отзыв!');
  });
}

$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

</script>


{% endblock extra_bottom_js %}

