{% extends "base.html" %}
  {% block extrahead %}
  <style>
  a:hover{
    color: #000;
    text-decoration:none;
  }
  input[type="text"], textarea{
   width:400px;
   border:0;
   border-bottom:1px solid #676767;
   -webkit-box-shadow: 0;
   -moz-box-shadow: 0;
   box-shadow: 0;
   border-radius:0; 
  }
  </style>
  {% endblock %}
{% block subtitle %}Контакты | {% endblock %}
{% block topmenuitems %}
 <li><a href="/about/">О ДИЗАЙНЕРЕ</a></li>
 <li><a href="/projects/">ПРОЕКТЫ</a></li>
 <li><a href="/blog/">БЛОГ</a></li>
 <li class="active"><a href="/contacts/">КОНТАКТЫ</a></li>
{% endblock topmenuitems %}
{% block topbrandlogo %}
  <a class="brand" id="brandtop" href="/"><img src="{{STATIC_URL}}images/small_logo.png" style="height:33px;"></a>
{% endblock %}
{% block wrapper %}
    <div class="container white-transp-grad" style="padding:0;margin:0;width:100%">
 
     <div style="margin-top:78px;">
      <center>
        <!--<span style="font-size:50px;">Мой Блог</span>-->
        <img style="height:39px" src="{{STATIC_URL}}images/contacts.png">
        <div style="width:800px;margin-top:50px;padding-bottom:20px;">
        <div class="pull-left">
          <img class="img-circle" width=270 src="{{STATIC_URL}}images/contacts_ganza.png">
          <div style="padding-top:65px;font-size:28px;color:#676767">8 800 2000 700</div>
          <div style="padding-top:35px;font-size:24px;color:#676767">info@olgavarenik.ru</div>
          <div style="padding-top:35px;font-size:24px;line-height:26px;color:#676767">
          г. Нижний Новгород<br>ул. Родионова, 100.
          </div>
        </div>
        </div>

	<div>
	<form class="form-horizontal">
	  <fieldset>
	    <div class="control-group">
	    <input class="nbs" type="text" placeholder="Ваше имя">
	    </div>
	    <div class="control-group">
	    <input type="text" placeholder="Ваш email">
	    </div>
	    <div class="control-group">
	    <textarea style="height:20px;" type="text" placeholder="Вашe сообщение"></textarea>
	    </div>
	    <!--<button type="submit" class="btn">Отправить</button>-->
	  </fieldset>
	</form>
	<div><a style="color:#676767" href="#">Отправить</a></div>
        </div>

      </center>

      
    </div>
    
    </div> <!-- /container -->

<div class="navbar navbar-inverse" style="margin:90px 0 0;height:20px;background: url({{STATIC_URL}}images/headline.png);">
&nbsp;
</div>
{% endblock wrapper %}
{% block extra_bottom_js %}
    <script src="{{STATIC_URL}}js/jquery.autogrowtextarea.js"></script>
    <script>
      $('textarea').autoGrow();
    </script>

{% endblock extra_bottom_js %}

