{% extends "base.html" %}
{% block extrahead %}
<style>
      html { 
	  background: url({{photo.get_2048_url}}) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
      }
      body{
      	background-color: transparent;
      	overflow-y:hidden;
      }
      .navbar-inner{
      	opacity: 0.9;
      }
      img.map{
    outline: none;
      }
      .maparea {
      	outline: 0;
      }
</style>
{% endblock %}
{% block wrapper %}
  <div class="container white-transp-grad bgimg" id="bgimgdiv" style="padding:0;margin:0;width:100%;margin-top: -40px;">
  <center>
  <img class="map" src="{{STATIC_URL}}images/wholemain.png" usemap="#clickmap">
  </center>
  
  <map name="clickmap">
    <area class="maparea" shape="circle" coords="250,300,100" href="/blog/" alt="New">
    <area class="maparea" shape="circle" coords="1800,300,120" href="/about/" alt="Video">
  </map>
  
  
  <!--
    <div id="leftring"  style="position:absolute;top:30%;width:10%;height:10%;margin-top:-5%;left:10%;cursor:pointer;cursor:hand;">
     <img id="wordnew" src="{{STATIC_URL}}images/leftring_main.png">
    </div>
    <div id="leftringwhite"  style="position:absolute;top:32%;width:8%;height:8%;margin-top:-5%;left:26%;cursor:pointer;cursor:hand;">
     <img id="wordnew" src="{{STATIC_URL}}images/rightring_white.png">
    </div>
    <div id="rightring" style="position:absolute;top:30%;width:10%;height:10%;margin-top:-5%;right:10%;cursor:pointer;cursor:hand;">
      <img id="playbutton" src="{{STATIC_URL}}images/rightring_main.png">
    </div>
    <div><img id="imglogo2" src="{{STATIC_URL}}images/biglogo_2.png" style="position:absolute;width:20%;left:50%;top:30%;margin-left:-10%;margin-top:-10%"></div>
    <div><img id="imglogo1" src="{{STATIC_URL}}images/biglogo_1.png" style="position:absolute;width:20%;left:50%;top:70%;margin-top:-10%;margin-left:-10%"></div>
    <div><img id="imgfooter" src="{{STATIC_URL}}images/footer.png" style="position:absolute;width:200px;display:none;"></div>
    -->
  </div> <!-- /container -->
{% endblock %}
  {% block extra_bottom_js %}
  <script src="{{STATIC_URL}}js/jquery.imagemap.js"></script>
  <script>
  $('document').ready(function(e){
  	disable_scroll();
  	$('img[usemap]').rwdImageMaps();
  });
  
  var keys = [37, 38, 39, 40];

function preventDefault(e) {
  e = e || window.event;
  if (e.preventDefault)
      e.preventDefault();
  e.returnValue = false;  
}

function keydown(e) {
    for (var i = keys.length; i--;) {
        if (e.keyCode === keys[i]) {
            preventDefault(e);
            return;
        }
    }
}

function wheel(e) {
  preventDefault(e);
}

function disable_scroll() {
  if (window.addEventListener) {
      window.addEventListener('DOMMouseScroll', wheel, false);
  }
  window.onmousewheel = document.onmousewheel = wheel;
  document.onkeydown = keydown;
}

  
  </script>
  {% endblock %}
  {% block extra_bottom_js_2 %}
  {% endblock %}

