{% extends "base.html" %}
{% block subtitle %}{{ article.title }} | {% endblock %}
{% block topmenuitems %}
 <li><a href="/about/">О ДИЗАЙНЕРЕ</a></li>
 <li class="active"><a href="/projects/">ПРОЕКТЫ</a></li>
 <li><a href="/blog/">БЛОГ</a></li>
 <li><a href="/contacts/">КОНТАКТЫ</a></li>
{% endblock topmenuitems %}
{% block topbrandlogo %}
  <a class="brand" id="brandtop" href="/"><img src="{{STATIC_URL}}images/small_logo.png" style="height:33px;"></a>
{% endblock %}
{% block wrapper %}
 <div class="container white-transp-grad" style="padding:0;margin:0;width:100%">
    <img onclick="window.location.href='/blog/art/prev/{{article.id}}/'" src="{{STATIC_URL}}images/leftarr.png" style="cursor:pointer;cursor:hand;position:fixed;top:50%;left:5%;width:20px;">
    <span style="top: 50%;position: fixed;margin-top: 50px;margin-left: 25px;font-size: 12px;">
  Предыдущий проект</span>
    <img onclick="window.location.href='/blog/art/next/{{article.id}}/'" src="{{STATIC_URL}}images/rightarr.png" style="cursor:pointer;cursor:hand;position:fixed;top:50%;right:5%;width:20px;">
    <span style="top: 50%;position: fixed;margin-top: 50px;right: 25px;font-size: 12px;">
  Следующий проект</span>
     <div style="margin-top:36px;">
      <center>
      <div style="margin-top:36px">      
      <div>
      <span style="font-size:36px">{{ article.title }}</span>
      </div>
      <div style="margin-top:34px">
      <img id="mainpic" onclick="showgal()" style="cursor:pointer;cursor:hand;width:720px;height:415px" src="{{article.cover.get_720x415_url}}">
<img id="eye" onclick="showgal()" style="position:absolute;left: 50%;width: 150px;margin-left: -75px;top: 270px;cursor: pointer;cursor: hand;" src="/static/images/eye.png">


      </div>
      <div style="margin-top:66px">
      <span style="font-size:24px">{{ article.small_title}}</span>
      </div>
      <div style="margin-top:12px;width:800px;height:580px;text-align:left;">
      <div class="pull-left span2" style="margin-left:0;padding-left:20px">
      <ul class="nav">
       <li class="img-circle-li">
       <img class="img-circle" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;" style="width: 45px;cursor:pointer;cursor:hand;" src="{{STATIC_URL}}images/fb.png">
       </li>
       <li class="img-circle-li">
       <img class="img-circle" onclick="window.open('https://twitter.com/share?url='+encodeURIComponent(location.href),'twitter-share-dialog','width=626,height=436');return false;" style="width: 45px;cursor:pointer;cursor:hand;" src="{{STATIC_URL}}images/twi.png">
       </li>
       <li class="img-circle-li">
       <img class="img-circle" onclick="window.open('https://plus.google.com/share?url='+encodeURIComponent(location.href),'google-share-dialog','width=626,height=436');return false;" style="width: 45px;cursor:pointer;cursor:hand;" src="{{STATIC_URL}}images/gplus.png">
       </li>
       </ul>
      </div>
      <div class="span7">
        {{ article.text|safe }}
      </div>
      </div>
      </div>
      </center>
    </div>
    </div> <!-- /container -->
    <div id="fader">
      <div id="fader-inner" style="position:relative;margin-top:135px;width:100%;margin-left:0px;">
        <div class="fader-inner-img" style="width:720px;left:50%;position:absolute;">
          <img id="cover_img_0" style="cursor:pointer;cursor:hand;width:720px;height:415px" src="{{article.cover.get_720x415_url}}">
        </div>
        {% for p in article.gallery.sample %}
        {% ifnotequal p.id article.cover.id %}
        <div class="fader-inner-img" style="width:720px;left:50%;position:absolute;">
          <img id="cover_img_{{ forloop.counter0 }}" style="cursor:pointer;cursor:hand;width:720px;height:415px" src="{{p.get_720x415_url}}">
        </div>
        {% endifnotequal %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-inverse" style="margin:80px 0 0;height:20px;background: url({{STATIC_URL}}images/headline.png);">
&nbsp;
</div>
{% endblock wrapper %}
{% block extra_bottom_js %}
    <script>
    var total_gallery_length = $(".fader-inner-img").length;
    var current_gallery_p = 0;
    function showgal(){
    	$('#fader').show();
    }
    function hidegal(){
    	$('#fader').hide();
    }
    $('#fader').on('click',function(){
      $(this).hide();	
    });
    $('#fader img').on('click',function(e){
    	var ml = parseInt($("#fader-inner").css('margin-left').replace("px",""));
        var ww = $(window).width();
        var ep = e.clientX;
        var dx = 0
        if (ep<ww/2+360){
          dx=920;
          current_gallery_p += 1;
        }
        else{
          dx=-920;
          current_gallery_p -= 1;
        }
        if (dx == 920){
          if (current_gallery_p != total_gallery_length){
            $("#fader-inner").animate({
              marginLeft: ml+dx+"px"
            },400);
          }
          else {
	          $("#fader-inner").animate({
	            marginLeft: ml+2*920+"px"
	          },400, function(){
	          $("#fader-inner").css("margin-left", "-1840px");
	          $("#fader-inner").animate({
	            marginLeft: "0px"
	          },400);
	          });
	          current_gallery_p = 0;
          }
        }
        else {
            $("#fader-inner").animate({
              marginLeft: ml+dx+"px"
            },400);
        }
        $("#mainpic").attr("src", $($(".fader-inner-img")[current_gallery_p]).children().attr('src'));
    	e.stopPropagation();
    });

    $(".img-circle-li").on("mouseover",function(){
      $(this).css('background','url({{STATIC_URL}}images/snbg.png?) 0px 0px no-repeat');
    });
    $(".img-circle-li").on("mouseout",function(){
      $(this).css('background','');
    });
    $('.carousel').carousel({interval:false})
    
    $(".fader-inner-img").each(function(index){
      $(this).css('margin-left', -(360+720*index+200*index)+"px");
    });
</script>
{% endblock extra_bottom_js %}