{% extends "base.html" %}
{% block topmenuitems %}
 <li><a href="/about/">О ДИЗАЙНЕРЕ</a></li>
 <li class="active"><a href="/projects/">ПРОЕКТЫ</a></li>
 <li><a href="/blog/">БЛОГ</a></li>
 <li><a href="/contacts/">КОНТАКТЫ</a></li>
{% endblock topmenuitems %}
{% block topbrandlogo %}
  <a class="brand" id="brandtop" href="/"><img src="{{STATIC_URL}}images/small_logo.png" style="height:33px;"></a>
{% endblock %}
{% block wrapper %}
 <div class="container white-transp-grad" style="padding:0;margin:0;width:100%">
    <img onclick="window.location.href='/blog/art/prev/{{article.id}}/'" src="{{STATIC_URL}}images/leftarr.png" style="cursor:pointer;cursor:hand;position:fixed;top:50%;left:5%;width:20px;">
    <img onclick="window.location.href='/blog/art/next/{{article.id}}/'" src="{{STATIC_URL}}images/rightarr.png" style="cursor:pointer;cursor:hand;position:fixed;top:50%;right:5%;width:20px;">
     <div style="margin-top:36px;">
      <center>
      <div style="margin-top:36px">      
      <div>
      <span style="font-size:36px">{{ article.title }}</span>
      </div>
      <div style="margin-top:34px">
      <img onclick="showgal()" style="cursor:pointer;cursor:hand;width:720px;height:415px" src="{{article.cover.get_720x415_url}}">
      </div>
      <div style="margin-top:66px">
      <span style="font-size:24px">{{ article.small_title}}</span>
      </div>
      <div style="margin-top:12px;width:800px;height:580px;text-align:left;">
      <div class="pull-left span2" style="margin-left:0;padding-left:20px">
      <ul class="nav">
       <li class="img-circle-li">
       <img class="img-circle" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;" style="width: 45px;cursor:pointer;cursor:hand;" src="{{STATIC_URL}}images/fb.png">
       </li>
       <li class="img-circle-li">
       <img class="img-circle" onclick="window.open('https://twitter.com/share?url='+encodeURIComponent(location.href),'twitter-share-dialog','width=626,height=436');return false;" style="width: 45px;cursor:pointer;cursor:hand;" src="{{STATIC_URL}}images/twi.png">
       </li>
       <li class="img-circle-li">
       <img class="img-circle" style="width: 45px;" src="{{STATIC_URL}}images/gplus.png">
       </li>
       </ul>
      </div>
      <div class="span7">
        {{ article.text|safe }}
      </div>
      </div>
      </div>
      </center>
    </div>
    </div> <!-- /container -->
    <div id="fader">
      <div id="fader-inner" style="position:relative;margin-top:135px;width:100%;margin-left:0px;">
        {% for p in article.gallery.sample %}
        <div class="fader-inner-img" style="width:720px;left:50%;position:absolute;">
          <img style="cursor:pointer;cursor:hand;width:720px;height:415px" src="{{p.get_720x415_url}}">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-inverse" style="margin:80px 0 0;height:20px;background: url({{STATIC_URL}}images/headline.png);">
&nbsp;
</div>
{% endblock wrapper %}
{% block extra_bottom_js %}
    <script>
    function showgal(){
    	$('#fader').show();
    }
    function hidegal(){
    	$('#fader').hide();
    }
    $('#fader').on('click',function(){
      $(this).hide();	
    });
    $('#fader img').on('click',function(e){
    	var ml = parseInt($("#fader-inner").css('margin-left').replace("px",""));
        var ww = $(window).width();
        var ep = e.clientX;
        var dx = 0
        if (ep<ww/2+360){
          dx=920;
        }
        else{
          dx=-920;
        }
        $("#fader-inner").animate({
           marginLeft: ml+dx+"px"
        },400);
    	e.stopPropagation();
    });

    $(".img-circle-li").on("mouseover",function(){
      $(this).css('background','url({{STATIC_URL}}images/snbg.png?) 2px 2px no-repeat');
    });
    $(".img-circle-li").on("mouseout",function(){
      $(this).css('background','');
    });
    $('.carousel').carousel({interval:false})
    
    $(".fader-inner-img").each(function(index){
      $(this).css('margin-left', -(360+720*index+200*index)+"px");
    });
</script>
{% endblock extra_bottom_js %}