{% extends "base.html" %}
{% block extrahead %}
<style>
.img-polaroid {
padding: 4px;
background-color: #fff;
border: 0 !important;
-webkit-box-shadow: 0;
-moz-box-shadow: 0;
box-shadow: 0;
cursor:pointer;
cursor:hand;
}

.navbar-inverse .navbar-inner {
background-color: #1b1b1b;
background-image: -moz-linear-gradient(top, #000, #000);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#000));
background-image: -webkit-linear-gradient(top, #000, #000);
background-image: -o-linear-gradient(top, #000, #000);
background-image: linear-gradient(to bottom, #000, #000);
background-repeat: repeat-x;
border-color: #252525;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

</style>
{% endblock %}
{% block subtitle %}Проекты | {% endblock %}
{% block topbrandlogo %}
  <a class="brand" id="brandtop" href="/"><img src="{{STATIC_URL}}images/small_logo.png" style="height:33px;"></a>
{% endblock %}
{% block wrapper %}

    <div id='map' class="container white-transp-grad" style="overflow: hidden;padding:0;margin:0;width:100%;height:590px;background:#000;position: relative;">
    <div>
    {% for p in photos18 %}
    {% if forloop.counter = 1 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='220x180' vid="10" init="-20" style="width:220px;height:180px;left:-20px;position:absolute;top:60px;padding:0" src="{{p.get_220x180_url}}" class="img-polaroid">
    {% elif forloop.counter = 2 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='220x180' vid="11" init="-20" style="width:220px;height:180px;left:-20px;position:absolute;top:60px;padding:0;display:none" src="{{p.get_220x180_url}}" class="img-polaroid">
    {% elif forloop.counter = 3 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='140x140' vid="20" init="220" style="width:140px;height:140px;left:180px;position:absolute;top:100px;padding:0" src="{{p.get_140x140_url}}" class="img-polaroid">
    {% elif forloop.counter = 4 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='140x140' vid="21" init="220" style="width:140px;height:140px;left:180px;position:absolute;top:100px;padding:0;display:none" src="{{p.get_140x140_url}}" class="img-polaroid">
    {% elif forloop.counter = 5 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='140x100' vid="30" init="0" style="width:140px;height:100px;left:-40px;position:absolute;top:260px;padding:0" src="{{p.get_140x100_url}}" class="img-polaroid">
    {% elif forloop.counter = 6 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='140x100' vid="31" init="0" style="width:140px;height:100px;left:-40px;position:absolute;top:260px;padding:0;display:none" src="{{p.get_140x100_url}}" class="img-polaroid">
    {% elif forloop.counter = 7 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='200x160' vid="40" init="160" style="width:200px;height:160px;left:120px;position:absolute;top:260px;padding:0" src="{{p.get_200x160_url}}" class="img-polaroid">
    {% elif forloop.counter = 8 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='200x160' vid="41" init="160" style="width:200px;height:160px;left:120px;position:absolute;top:260px;padding:0;display:none" src="{{p.get_200x160_url}}" class="img-polaroid">
    {% elif forloop.counter = 9 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='480x300' vid="50" init="380" style="width:480px;height:300px;left:340px;position:absolute;top:80px;padding:0" src="{{p.get_480x300_url}}" class="img-polaroid">
    {% elif forloop.counter = 10 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='480x300' vid="51" init="380" style="width:480px;height:300px;left:340px;position:absolute;top:80px;padding:0;display:none" src="{{p.get_480x300_url}}" class="img-polaroid">
    {% elif forloop.counter = 11 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='320x200' vid="60" init="880" style="width:320px;height:200px;left:840px;position:absolute;top:60px;padding:0" src="{{p.get_320x200_url}}" class="img-polaroid">
    {% elif forloop.counter = 12 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='320x200'  vid="61" init="880" style="width:320px;height:200px;left:840px;position:absolute;top:60px;padding:0;display:none" src="{{p.get_320x200_url}}" class="img-polaroid">
    {% elif forloop.counter = 13 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='320x200'  vid="70" init="880" style="width:320px;height:200px;left:800px;position:absolute;top:280px;padding:0" src="{{p.get_320x200_url}}" class="img-polaroid">
    {% elif forloop.counter = 14 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='320x200'  vid="71" init="880" style="width:320px;height:200px;left:800px;position:absolute;top:280px;padding:0;display:none" src="{{p.get_320x200_url}}" class="img-polaroid">
    {% elif forloop.counter = 15 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='160x100' vid="80" init="1220" style="width:160px;height:100px;left:1140px;position:absolute;top:300px;padding:0" src="{{p.get_160x100_url}}" class="img-polaroid">
    {% elif forloop.counter = 16 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='160x100' vid="81" init="1220" style="width:160px;height:100px;left:1140px;position:absolute;top:300px;padding:0;display:none" src="{{p.get_160x100_url}}" class="img-polaroid">
    {% elif forloop.counter = 17 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='160x100' vid="90" init="1220" style="width:160px;height:100px;left:1140px;position:absolute;top:180px;padding:0" src="{{p.get_160x100_url}}" class="img-polaroid">
    {% elif forloop.counter = 18 %}
    <img artid='{{p.galleries.all.0.gallery_articles.all.0.slug}}' s='160x100' vid="91" init="1220" style="width:160px;height:100px;left:1140px;position:absolute;top:180px;padding:0;display:none" src="{{p.get_160x100_url}}" class="img-polaroid">
    {% endif %}
    {% endfor %}
    </div>
    <div style="top:520px;position:absolute;width:100%;color:#fff;font-size:20px;">
      <center>МОИ ПРОЕКТЫ</center>
    </div>
    
    </div>
    
    <div style="margin-top:80px;">
     <center><img style="width:200px" src="{{STATIC_URL}}images/biglogo_1.png"></center>
    </div>
    
    <div style="width:100%;height:450px;margin-top:80px;margin-bottom:60px;" id="projectloader">
    
    <div style="width:805px;height:450px;margin:0 auto;position:relative">
    {% for p in articles %}
      {% if forloop.counter = 1 %}
      <div style="position:absolute;top:0;left:300px;background:white;width:220px;height:160px;font-size:14px">
        {{ p.description|safe }}
      </div>
      {% elif forloop.counter = 2 %}
      <div style="position:absolute;top:-52px;left:0px;width:287px;height:222px">
        <div style="text-align:right;height:32px;padding-top:20px;background:#fff;">
          <div class="restext" style="margin:32px 0;padding:0 10px;opacity:0;border:2px solid #f5775d;border-bottom:0;">
            <div style="color:#f5775d">{{ p.title }}</div>
            <div style="font-size:11px">
            {{ p.small_title }}
            </div>
          </div>
        </div>
        <div onclick="window.location.href='/{{p.slug}}/'" class="res" w=300 h=170 style="position:relative;z-index:5;width:287px;height:170px;background:#eee url('{{p.cover.get_287x170_url}}');background-size:300px">
        </div>
      </div>

    {% elif forloop.counter = 3 %}
    <div style="position:absolute;top:-52px;left:533px;width:272px;height:220px">
      <div style="text-align:right;height:32px;padding-top:20px;background:#fff;">
        <div class="restext" style="margin:32px 0;padding:0 10px;opacity:0;border:2px solid #f5775d;border-bottom:0;">
          <div style="color:#f5775d">{{ p.title }}</div>
          <div style="font-size:11px">
            {{ p.small_title }}
          </div>
        </div>
      </div>
      <div onclick="window.location.href='/{{p.slug}}/'" class="res" w=282 h=170 style="position:relative;z-index:5;width:272px;height:170px;background:#eee url('{{p.cover.get_272x170_url}}');background-size:282px">
      </div>
    </div>
    {% elif forloop.counter = 4 %}
    <div style="position:absolute;top:130px;left:0px;width:480px;height:262px;z-index:10;">
      <div style="text-align:right;height:32px;padding-top:20px;">
        <div class="restext" style="opacity:0;margin:32px 0;padding:0 10px;background:#fff;border:2px solid #f5775d;border-bottom:0;">
          <div style="color:#f5775d;z-index:1">{{ p.title }}</div>
          <div style="font-size:11px;z-index:1">
            {{ p.small_title }}
          </div>
        </div>
      </div>
      <!--<img w=480 h=262 t=130 l=0 class="res" src="{{STATIC_URL}}images/testpic_2.png">-->
      <div  onclick="window.location.href='/{{p.slug}}/'" class="res" w=480 h=209 style="position:relative;z-index:5;width:480px;height:209px;background:#eee url('{{p.cover.get_480x209_url}}');background-size:480px 209px">
      </div>
    </div>
    {% elif forloop.counter = 5 %}
    <div style="position:relative;top:130px;left:496px;width:309px;height:262px;z-index:10;">
      <div style="text-align:right;height:32px;padding-top:20px;">
        <div class="restext" style="margin:32px 0;padding:0 10px;background:#fff;border:2px solid #f5775d;border-bottom:0;opacity:0;">
          <div style="color:#f5775d">{{ p.title }}</div>
          <div style="font-size:11px">
            {{ p.small_title }}
          </div>
        </div>
      </div>
      <div  onclick="window.location.href='/{{p.slug}}/'" class="res" w=309 h=209 style="position:relative;width:309px;height:209px;background:#eee url('{{p.cover.get_309x209_url}}');background-size:309px 209px">
      </div>
    </div>
    {% endif %}
    {% endfor %}

    
    </div>
    
    </div> <!-- /container -->

<div class="navbar navbar-inverse" id="bottombar" style="margin-top:120px;margin-bottom:0;background: url({{STATIC_URL}}images/headline.png);">
&nbsp;
</div>
{% endblock wrapper %}
{% block extra_bottom_js %}
    <script>
    $(window).resize(function() {
    	onresizegallery();
    });
    $(window).load(function() {
    	onresizegallery();
    });
    
    function onresizegallery(){
    	var mapw = $(window).width();
    	if (mapw>10){
	$( ".img-polaroid" ).each(function( index ) {
	  var init = parseInt($(this).attr("init"));
	  var df = (mapw-1280)/2;
	  //console.log(df);
	  $(this).css('left',init+df+"px")
	});
    	}

    }
    
    var initiallimit = 5;
    function loadprojects(){
    
    //$('#{{datasource_name}}addform_form').load("/backboneadmin/forms/{{app}}/{{mod}}/",function(){
    //   $( 'form' ).parsley();
    //});
      $.get('/projectsblock/'+initiallimit+'/', function(data){ 
         $(data).appendTo("#projectloader");
         initiallimit = initiallimit+5;
         $("#bottombar").css('margin-top', parseInt($("#bottombar").css('margin-top').replace('px',''))+400+'px');
      });

    }
    
    $('.res').mouseover(function(){
          $(this).css("cursor","pointer");
          $(this).stop().delay( 300 ).animate({
          	backgroundSize: parseInt(parseInt($(this).attr('w'))+32)+"px",
          	backgroundPositionX: "-8px",
          	backgroundPositionY: "-8px",
          }, 'slow');
          var el = $($(this).prev().find(':first-child')[0]);
          el.stop().delay( 300 ).animate({
                marginTop: "-10px",
                opacity: "1"
          }, 'slow', function(){el.css('background','#fff')});
    });
    
    $('.res').mouseout(function(){   
          $(this).stop().animate({
          	backgroundSize: parseInt($(this).attr('w'))+"px",
          	backgroundPositionX: "0px",
          	backgroundPositionY: "0px",
          }, 'slow');
          var el = $($(this).prev().find(':first-child')[0]);
          el.stop().animate({
                marginTop: "32px",
                opacity: "0"
          }, 'slow', function(){el.css('background','#fff')});
    });
    
    var pics = [
     {% for p in photos %}
     { 
     	'220x180' : '{{p.get_220x180_url}}',
     	'140x140' : '{{p.get_140x140_url}}',
     	'140x100' : '{{p.get_140x100_url}}',
     	'200x160' : '{{p.get_200x160_url}}',
     	'480x300' : '{{p.get_480x300_url}}',
     	'320x200' : '{{p.get_320x200_url}}',
     	'160x100' : '{{p.get_160x100_url}}',
     	'artid' : '{{p.galleries.all.0.gallery_articles.all.0.slug}}'
     }{% if not forloop.last %},{% endif %}
     {% endfor %}
    
    ]
    
    function randomchange(){
      var imgs = $(".img-polaroid:visible")
      var im = imgs[Math.floor(Math.random()*imgs.length)]
      var imsize = $(im).attr("s")
      var pic = pics[Math.floor(Math.random()*pics.length)]
      //console.log($(im).attr("vid"));
      var vid = parseInt($(im).attr("vid"))
      if (vid%10==0){
      	var newvid = vid+1;
      }
      else{
        var newvid = vid-1;
      }
      var im2 = $("[vid="+newvid+"]")
      $(im).fadeOut(1600, function(){
        $(im).attr('src', pic[imsize]);
        $(im).attr('artid', pic['artid']);
      });
      $(im2).fadeIn(1600);
       ;
    }
    
    
    $(".img-polaroid").on('click', function(){
      window.location.href= '/'+$(this).attr('artid')+'/';
    });
    
    setInterval('randomchange()',3000);
    
</script>
{% endblock %}

