{% extends "base.html" %}
{% load webdesign %}
{% templatetag openblock %} {% load pytils_dt %}{% templatetag closeblock %}  
{% block extrahead %}
  <style>
  a:hover{
    color: #000;
    text-decoration:none;
  }
  </style>
  {% endblock %}
{% block topmenuitems %}
 <li><a href="/about/">О ДИЗАЙНЕРЕ</a></li>
 <li><a href="/projects/">ПРОЕКТЫ</a></li>
 <li class="active"><a href="/blog/">БЛОГ</a></li>
 <li><a href="/contacts/">КОНТАКТЫ</a></li>
{% endblock topmenuitems %}
{% block topbrandlogo %}
  <a class="brand" id="brandtop" href="/"><img src="{{STATIC_URL}}images/small_logo.png" style="height:33px;"></a>
{% endblock %}
{% block wrapper %}
    <div class="container white-transp-grad" style="padding:0;margin:0;width:100%">
 
     <div style="margin-top:78px;">
      <center>
        <span style="font-size:50px;">Наши услуги</span>
        <!--
        <img style="height:39px" src="{{STATIC_URL}}images/myblog.png">
        -->
        <table style="width:900px;text-align:center;margin-top:90px">
        <tr>
	  <td><img style="width:90px" src="/static/images/service_design.png"></td>
	  <td><img style="width:90px" src="/static/images/service_cottage.png"></td>
	  <td><img style="width:90px" src="/static/images/service_public.png"></td>
	</tr>
        <tr>
	  <td style="padding-top:20px;font-size:20px;">{% lorem 3 w %}</td>
	  <td style="padding-top:20px;font-size:20px;">{% lorem 3 w %}</td>
	  <td style="padding-top:20px;font-size:20px;">{% lorem 3 w %}</td>
	</tr>
        <tr>
	  <td style="padding:20px 25px;">{% lorem 1 %}</td>
	  <td style="padding:20px 25px;">{% lorem 1 %}</td>
	  <td style="padding:20px 25px;">{% lorem 1 %}</td>
	</tr>
        </table>
      </center>
	</div>
	
	<div style="background:#eee;width:100%;height:400px">
	</div>


    </div> <!-- /container -->

<div class="navbar navbar-inverse" style="margin:20px 0 0;height:20px;background: url({{STATIC_URL}}images/headline.png);">
&nbsp;
</div>
{% endblock wrapper %}
