{% extends "base.html" %} 
{% load i18n %}
{% load webdesign %}
{% templatetag openblock %} {% load pytils_dt %}{% templatetag closeblock %}  
{% block extrahead %}
  <style>
  a:hover{
    color: #000;
    text-decoration:none;
  }
  .img-number{
    padding:0 5px;
    width:20px;
    height:20px;
    border-radius:10px
  }
  .img-number-active{
    padding:0 5px;
    width:20px;
    height:20px;
    border:1px solid red;
    border-radius:10px
  }
  .bottomlia{
  color:#000;
  background:transparent !important;
  border:0 !important;
  text-transform: uppercase;
  }	
  </style>
  {% endblock %}
  {% block wrapper %}
    <div class="container white-transp-grad" style="padding:0;margin:0;width:100%">
 
     <div style="margin-top:78px;">
      <center>
        <span style="font-size:50px;">{% trans "Services" %}</span>
        <!--
        <img style="height:39px" src="{{STATIC_URL}}images/myblog.png">
        -->
        <table style="width:900px;text-align:center;margin-top:90px">
        <tr>
	  <td><img style="width:90px" src="/static/images/service_design.png"></td>
	  <td><img style="width:90px" src="/static/images/service_cottage.png"></td>
	  <td><img style="width:90px" src="/static/images/service_public.png"></td>
	</tr>
        <tr>
	  <td style="padding-top:20px;font-size:20px;text-transform:uppercase;">
	  {% trans "Apartment interior design" %}</td>
	  <td style="padding-top:20px;font-size:20px;text-transform:uppercase;">
	  {% trans "Cottage design" %}</td>
	  <td style="padding-top:20px;font-size:20px;text-transform:uppercase;">
	  {% trans "Public space design" %}</td>
	</tr>
        <tr>
	  <td style="padding:20px 25px;">
	  {% ifequal request.LANGUAGE_CODE 'en' %}
	  Interior design is a wonderful opportunity to change your life for the better, decorate your surroundings, and improve your quality of life. The way our home looks influences greatly our feelings, thoughts, work motivation, and our relationships. I provide the services of designing and implementing professionally created and practical interiors based on a vivid concept. All my projects – both classical and high-tech ones – include new interesting ideas of modern design and use new technologically advanced materials. Every interior has a unique idea behind it.
	  {% else %}
	  Дизайн интерьера  – это прекрасная возможность изменить жизнь к лучшему, украсить обстановку, улучшить качество вашей жизни. То как выглядит наш дом значительно влияет на наши ощущения, мысли, мотивацию к работе, на наши отношения друг с другом. Я предлагаю разработку и реализацию профессионально продуманных, практичных интерьеров с яркой концепцией. Все мои проекты выполнены с учетом новых интересных идей из области современного дизайна, с использованием новых технологичных материалов, будь то классика или хай-тек. Идея каждого интерьера уникальна и неповторима.
	  {% endifequal %}
	  </td>
	  <td style="padding:20px 25px;">
	  {% ifequal request.LANGUAGE_CODE 'en' %}
Cottage is an integral and finished system in terms of functionality and style. Living in a cottage, you need its design to be easy-to-use and ergonomic. Cottage designing and projecting includes analysis of all relevant aspects – occupied area, the number of floors, basement and balcony availability, garage location, etc. Besides interior design, cottage project include design of fronts, roof, and additional buildings. The design project is carried out up to every minor detail. In the course of the work, you can expand your project with various elements, if you like. Designer supervision ensures that all  questions raising during the project implementation are settled in due time.	  
          {% else %}
	  Коттедж – это целостная, законченная система с точки зрения функциональности и стиля. В первую очередь живя в коттедже нам нужно удобство эксплуатации и эргономичность. Работа над дизайном и  проектированием коттеджей включает анализ всех аспектов: площадь, этажность, наличие подвала, балкона, расположение гаража и другие. Для коттеджей проект включает дизайн не только интерьеров, но и фасадов, крыши,  пристроек. Дизайн-проект реализуется до мельчайших деталей. В ходе работы по вашему желанию он может дополняться различными составляющими. Благодаря авторскому надзору будут своевременно решены вопросы, которые появятся в процессе реализации проекта.
	  {% endifequal %}
	  </td>
	  <td style="padding:20px 25px;">
	  {% ifequal request.LANGUAGE_CODE 'en' %}
A public space needs design that would attract people’s attention, which is why the focus here is on creating a custom space and style. Another important thing about designing the interior of a restaurant, store, hotel, or cultural and entertainment venue is to make optimal use of space and meet functionality requirements. Moreover, the interior must meet the purpose of space, create comfortable atmosphere for customers and guests, and set a certain mood.	  
          {% else %}
	  Для общественного интерьера необходим дизайн, который притягивает внимание публики. Поэтому приоритет в работе над проектом отдается созданию индивидуального пространства и стиля. Не менее важно также в дизайне интерьера ресторана, магазина, отеля, места проведения досуга, культурного или развлекательного заведения учитывать задачу оптимально использовать площади и привести их в соответствие с функциональным требованием. Нужно также создать интерьер, который будет отвечать назначению помещения, создаст комфортную атмосферу для клиентов и гостей, а также задаст определённое настроение. 
	  {% endifequal %}
	  </td>
	</tr>
        </table>
      </center>
	</div>
	
	<div style="background:rgba(247, 247, 247, .98);width:100%;padding-top:40px;margin-top:50px;">
	<center> 
	<span style="margin-top:20px;font-size:20px;text-transform:uppercase;font-weight:500">
	Этапы создания дизайн проекта интерьера
	</span>
	<div class="tabbable tabs-left" style="width:900px;padding-top:40px;"> <!-- Only required for left/right tabs -->
	  <ul class="nav nav-tabs" style="text-align:left;width:300px;border:0">
	    <li onclick="change_color_circle(0)" class="bottomli active">
	    <a class="bottomlia" href="#tab1" data-toggle="tab">
	    <div class="row-fluid">
	    <div class="span1">
	    <span class="img-circle img-number img-number-active">1</span>
	    </div>
	    <div class="span11">
	    {% trans "Sketch design" %}
	    </div>
	    </div>
	    </a>
	    </li>
	    
	    
	    <li onclick="change_color_circle(1)" class="bottomli">
	    <a class="bottomlia" href="#tab2" data-toggle="tab">
            <span class="img-circle img-number">2</span>
	    {% trans "3D interior rendering" %}
	    </a></li>
	    <li onclick="change_color_circle(2)" class="bottomli">
	    <a class="bottomlia" href="#tab3" data-toggle="tab">
	    <span class="img-circle img-number">3</span>
	    {% trans "Detail project" %}
	    </a></li>
	    <li onclick="change_color_circle(3)" class="bottomli">
	    <a class="bottomlia" href="#tab4" data-toggle="tab">
	    <div class="row-fluid">
	     <div class="span1">
 	      <span class="img-circle img-number">4</span>
	     </div>
	     <div class="span11">
	     {% trans "Engineering systems." %}
	     </div>
	    </div>
	    </a>
	    </li>
	    <li onclick="change_color_circle(4)" class="bottomli">
	    <a class="bottomlia" href="#tab5" data-toggle="tab">
 	    <span class="img-circle img-number">5</span>
 	    {% trans "Designer supervision" %}
	    </a></li>
	    <li onclick="change_color_circle(5)" class="bottomli">
	    <a class="bottomlia" href="#tab6" data-toggle="tab">
 	    <span class="img-circle img-number">6</span>
 	    {% trans "Room decoration" %}
	    </a></li>
	  </ul>
	  <div class="tab-content">
	    <div class="tab-pane active" id="tab1" style="text-align:left">
	      <p>
	  {% ifequal request.LANGUAGE_CODE 'en' %}
           Designing is what the whole process of interior design is based on. The foundation you lay determines your home decor.<br><br>
To get started, it is very important to get acquainted. I will learn your preferences, wishes and dreams to implement them later in your home decor or to tell you what should be avoided in your case, and what you should strive for. So we set to work.
<br><br>
We take the measurements, photograph the object and analyze all existing communications and other features of the object. All data will be included in the sketch design, which helps to visualize the future interior. It includes the planning concept and design decisions for ceiling and lighting. 
<br><br>
Designing doesn’t depend on the style of the room, so you don’t have to care about any other stage of design when designing your object, whether it is a color scheme of the room, its lighting, look and feel, or anything else. And this, in fact, is very well, because all your energy will be properly directed to the solution of one problem, rather than all of them at once. We will offer all possible planning decisions, discuss them, and choose the best one. All of the remaining phases of the project will be facile and unstrained on the basis of competent planning.
           {% else %}
	      Планировка - это тот фундамент, на котором держится весь процесс дизайна интерьера. Какой фундамент вы заложите, такой и будет ваш интерьер.
Для начала работы очень важно познакомиться. Я узнаю ваши предпочтения, пожелания и мечты, чтобы все это воплотить в дальнейшем в ваш интерьер, или рассказать о том, чего следует избегать в вашем случае, а к чему стремиться. Итак, мы начинаем работать.<br><br>
Мы производим замеры, фотографируем объект, анализируем все существующие коммуникации, и другие особенности объекта. Все данные будут включены в эскизный проект, который поможет наглядно представить будущий интерьер. В него входит планировочное решение, планировочные решения потолков и освещения.<br><br>
Планировка не зависит от стиля помещения, поэтому проводя планировку своего объекта, вы не должны заботиться о каком-либо другом этапе дизайна: будь то цветовое решение комнаты, её освещение, стиль оформления или что-либо другое. И это, на самом деле, очень хорошо, ведь все ваши силы и энергия будут правильно направлены на решение одной задачи, а не всех сразу. Мы предложим все возможные варианты планировочных решений, все обсудим и выберем наилучшее. А уже на базе грамотной планировки, все оставшиеся этапы проекта будут проходить легко и непринуждённо.<br>
           {% endifequal %}
	      </p>
	    </div>
	    <div class="tab-pane" id="tab2" style="text-align:left">
	      <p>
	  {% ifequal request.LANGUAGE_CODE 'en' %}
At the second stage, I create 3D room visualization, as it will show the ready interior tridimensional. Here we closely work with style and color, choose and design all the nuances of the future rooms. Visualization is made via computer simulation. This is an effective way to evaluate the result of the design, it will help to avoid unnecessary costs and possible disappointment. Thanks to the interior visualization, you will see finishing materials, worked-though lighting, play of light and shadow, decorative design and other details. I do not create unrealistic furnishings and finishes – everything we see in the visualization will be brought to life with the best result.	  
          {% else %}
	      На втором этапе я создаю визуализацию помещений в 3D, именно она покажет в объемном виде каким будет интерьер после реализации. Здесь мы уже вплотную работаем над стилистикой, цветом, выбираем и проектируем все нюансы будущих помещений. Визуализация производится с помощью компьютерного моделирования. Это эффективный способ оценить результат работы над дизайном, она поможет избежать ненужных затрат и возможных разочарований. С помощью визуализации интерьера Вы увидите материалы отделки, проработанное освещение, игру света и тени, декоративное оформление и другие детали. Я не создаю невыполнимых предметов обстановки и отделки, все, что мы видим на визуализации будет воплощено в жизнь с наилучшим результатом. 
           {% endifequal %}
	      </p>
	    </div>
	    <div class="tab-pane" id="tab3" style="text-align:left">
	      <p>
	  {% ifequal request.LANGUAGE_CODE 'en' %}
After the preliminary version of the interior and its visualization are approved, I proceed to developing the working drawings and plans of the design project. All technical documentation required for constructors is created at this stage. It includes integration of any engineering equipment, redevelopment plan, final selection of finishing materials, furniture placement, plumbing and electrical wiring plan, plan of walls, ceilings and floors, and placement of electrical systems. This service also includes recommendations on finishing materials, furniture, decor and their calculations.	  
         {% else %}
	      После того, как предварительный вариант интерьерного решения и его визуализация будут согласованы, я приступаю к разработке рабочих чертежей и планов дизайн-проекта. Вся техническая документация, необходимая для строителей создается на этом этапе. В нее входят: интеграция любого инженерного оборудования, план перепланировки, финальный подбор отделочных материалов, план расстановки мебели и сантехники, разводки электросистем, план стен, потолков и полов.  размещения электротехнических систем. Также данная услуга включает в себя рекомендацию по материалам отделки, предметов мебели, декора и их расчеты.
           {% endifequal %}
	      </p>
	    </div>
	    <div class="tab-pane" id="tab4" style="text-align:left">
	      <p>
	  {% ifequal request.LANGUAGE_CODE 'en' %}
Integration of engineering communications and equipment is an important stage in the design project. Creating the communication schemes include air conditioning, heating, ventilation, sewerage, fire and burglar alarms, video surveillance, built-in electronic equipment, access guarding of “Smart Home” type, home theater, fireplace and more. I always suggest a decision based on your comfort needs. This is a section of the detail project where we are working with comfortable layout of all systems. We cooperate with a large number of companies that if necessary calculate communications and systems  engineering.         
{% else %}
	      Интеграция инженерных коммуникаций и оборудования – важный этап в работе над дизайн-проектом. К созданию коммуникационных схем относится: кондиционирование, отопление, вентиляция, канализация, пожарная и охранная сигнализация, видеонаблюдение, встраиваемая электронная техника, контроль доступа типа «Умный дом», домашний кинотеатр, камин и многое другое. Я всегда предлагаю решение, исходя из ваших потребностей комфорта. Это подраздел рабочего проекта, где мы с вами прорабатываем комфортное размещение всех систем. С нами сотрудничает большое кол-во компаний, которые при необходимости делают расчет коммуникаций и инженерных систем.
           {% endifequal %}
</p>
	    </div>
	    <div class="tab-pane" id="tab5" style="text-align:left">
	      <p>
	  {% ifequal request.LANGUAGE_CODE 'en' %}
	      In my work I aspire to bring each interior design project to life in the form it was initially conceived. Many nuances of construction and finishing works are solved only in the construction process. We make necessary adjustments, supervise the construction and finishing works, help purchase necessary materials for finishing and lighting, and also  choose furniture and accessories.
{% else %}
	      В своей работе я стремлюсь довести каждый объект до конца, чтобы бы реализовать проект дизайна интерьера в том виде, в котором и было задумано. Множество нюансов строительных и отделочных работ решается только в процессе строительства. Мы вносим необходимые корректировки, наблюдаем за ведением строительно-отделочных работ и, помогаем в приобретении необходимых материалов для отделки, освещения, а также выбираем мебель и аксессуары. 
           {% endifequal %}
	      </p>
	    </div>
	    <div class="tab-pane" id="tab6" style="text-align:left">
	      <p>
	  {% ifequal request.LANGUAGE_CODE 'en' %}
House, apartment, office, store, hotel or shopping center – our projects are always balanced and have their own style, original forms, materials and decor. The most important part is that we know how to bring it to life!
<br><br>
It is worth trusting the development of your own home, apartment or office, where you spend most of your time, to skilled professionals. Today, everyone can afford high-quality and beautiful interior design. We offer you services of any price range, from the lowest budget to the most exclusive design and finishing services with the best design solutions.
<br><br>
We create stylish personality in every interior!
{% else %}
	      Дом, квартира, офис, магазин, отель или торговый центр - наши проекты всегда гармоничны и обладают своим собственным стилем, имеют оригинальные формы, материалы и декор. А главное – мы знаем, как это воплотить в жизнь!<br><br>
Доверить устройство собственного дома, квартиры или офиса, в котором вы находитесь большую часть вашего времени, стоит опытным специалистам. Сегодня качественный, красивый дизайн помещений доступен каждому. Мы предлагаем вам услуги любого ценового диапазона: от максимально экономичных до эксклюзивных проектных и отделочных работ с использованием лучших дизайнерских решений. <br><br>
Мы создаем стильную индивидуальность в каждом интерьере!
           {% endifequal %}
	      </p>
	    </div>
	  </div>
	</div>
	  </center>
	
	</div>
<div style="height:20px;padding-bottom:0;background: url({{STATIC_URL}}images/headline.png);">
    {% include "blog/translator_form.html" %}
</div>


    </div> <!-- /container -->

{% endblock wrapper %}
  {% block bottomdiv %}
  {% endblock %}


  {% block extra_bottom_js_2 %}
  <script>
  $(document).on('ready', function(){
   $(".img-number").css("border",'1px solid rgba(247, 247, 247, .98)');
   $($(".img-number")[0]).css("border",'1px solid red');
  });
  function change_color_circle(i){
   var el = $(".img-number")[i];
   $(".img-number").css("border",'1px solid rgba(247, 247, 247, .98)');
   $(el).css("border",'1px solid red');
  }
  </script>
  {% endblock %}

